# Don't track the content of these folders
data/
object_detection/.ipynb_checkpoints/
object_detection/obj/
object_detection/train_valid/
object_detection/yolo_labels/
preprocessing/creatingData/frames/
preprocessing/creatingData/videos/
.vscode/
aquadroneEnv/
visionEnv
preprocessing/preprocessingImages/BestBFParameters/
preprocessing/preprocessingImages/images/
.vs/
machineLearning/Object-Classification-and-Detection/Keras-Sandbox/simple-image-classification-model/pyimagesearch/__pycache__/
depthSensing/images/
*.jpg
*.pyc
